.button-style {
  flex-basis: 25%;
  background: #3c782d;
  color: #fff;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  border: none;
  border-right: solid 2px #1b600b;
  border-bottom: solid 2px #1b600b;
}

.button-style:hover {
  background-color: white;
  color: #425062;
}